---
# Installation state
elasticsearch_state: present
elasticsearch_force_reload: false

# TLS Configuration
elasticsearch_enable_tls: false
elasticsearch_tls_cert_file: "" # Path relative to config dir
elasticsearch_tls_key_file: "" # Path relative to config dir
elasticsearch_tls_min_version: "TLSv1.2"
elasticsearch_tls_verify_client: "optional"

# Container settings
elasticsearch_image: "docker.io/elasticsearch:8.12.1"
elasticsearch_elasticvue_image: "docker.io/cars10/elasticvue:latest"

# Directory settings
elasticsearch_data_dir: "{{ ansible_user_dir }}/elasticsearch-data"

# Elasticsearch settings
elasticsearch_port: 9200
elasticsearch_memory: "1g"
elasticsearch_discovery_type: "single-node"
elasticsearch_gui_port: 8088

# Security settings
elasticsearch_enable_security: true
elasticsearch_password: "{{ lookup('env', 'ELASTIC_PASSWORD') | default('changeme') }}"


# =======================================================================
service_pod:
  ports:
    - "127.0.0.1:{{ elasticsearch_port }}:9200"
    - "127.0.0.1:{{ elasticsearch_gui_port }}:8080"
  quadlet_options:
    - |
      [Service]
      Restart=always
    - |
      [Install]
      WantedBy=default.target

# =======================================================================
service_network: "example-net"
service_dns_servers:
  - "1.1.1.1"
  - "8.8.8.8"
service_dns_search: "example.com"

service_quadlet_dir: "{{ ansible_env.HOME }}/.config/containers/systemd"

# =======================================================================
service_properties:
  root: "elasticsearch"
  name: "elasticsearch-pod"
  pod_key: "elasticsearch.pod"
  quadlets:
    - "elasticsearch-svc.container"
    - "elasticsearch-gui.container"
    - "elasticsearch.pod"
  data_dir: "{{ elasticsearch_data_dir }}" # override in playbook
  config_dir: "config"
  delete_data: "{{ lookup('env', 'DELETE_DATA') | default(false) | bool }}"
  dirs:
    - { path: "", mode: "0750" }
    - { path: "config", mode: "0775" }
    - { path: "data", mode: "0770" }
    - { path: "logs", mode: "0770" }
