---
# Installation state
hashivault_state: present
vault_force_reload: false

# TLS Configuration
# -- Plan is to put this in a private network and use traefik for TLS
vault_enable_tls: false
vault_tls_cert_file: ""
vault_tls_key_file: ""
vault_tls_ca_file: ""
vault_tls_min_version: "tls12"

# Container settings
vault_image: "docker.io/hashicorp/vault:1.15"
vault_ui_image: "docker.io/hashicorp/vault-ui:latest" # If using separate UI container
vault_api_port: 8200
vault_cluster_port: 8201
vault_ui_port: 8200 # Same as API port when using integrated UI

# Directory_settings
vault_data_dir: "{{ ansible_user_dir }}/vault-data"

# Security settings
vault_enable_ui: true
vault_initial_root_token: "" # Generated on first init if not provided
vault_enable_audit: true

# Storage settings
vault_storage_type: "file" # Options: file, raft, consul
vault_raft_node_id: "node1"
vault_raft_retry_join: [] # List of raft peer addresses


# =======================================================================
service_network: "example-net"
service_dns_servers:
  - "1.1.1.1"
  - "8.8.8.8"
service_dns_search: "example.com"

# =======================================================================
service_properties:
  root: "vault"
  name: "vault-pod"
  pod_key: "vault.pod"
  quadlets:
    - "vault-svc.container"
    - "vault.pod"
  data_dir: "{{ vault_data_dir }}" # override in playbook
  config_dir: "config"
  delete_data: "{{ lookup('env', 'DELETE_DATA') | default(false) | bool }}"
  dirs:
    - { path: "", mode: "0750" }
    - { path: "config", mode: "0750" }
    - { path: "data", mode: "0750" }
    - { path: "logs", mode: "0750" }
    - { path: "tls", mode: "0750" }
