---
# ..................................................................................
- name: Ensure required directories exist
  become: false
  ansible.builtin.file:
    path: "{{ real_user_dir }}/{{ item }}"
    state: directory
    mode: "0750"
  loop:
    - .config/systemd/user
    - .config/containers/systemd
    - .config/containers/systemd/env

# ..................................................................................
- name: Create environment file for Grafana
  become: false
  ansible.builtin.template:
    src: grafana.env.j2
    dest: "{{ real_user_dir }}/.config/containers/systemd/env/grafana.env"
    mode: "0600"

# ..................................................................................
- name: Create Grafana pod Quadlet
  become: false
  containers.podman.podman_pod:
    name: grafana
    state: quadlet
    dns: "{{ service_dns_servers }}"
    dns_search: "{{ service_dns_search }}"
    network: "{{ service_network }}"
    quadlet_dir: "{{ real_user_dir }}/.config/containers/systemd"
    ports:
      - "127.0.0.1:{{ grafana_port }}:3000"
    quadlet_options:
      - |
        [Service]
        Restart=always
      - |
        [Install]
        WantedBy=default.target

# ..................................................................................
- name: Create Grafana container Quadlet
  become: false
  containers.podman.podman_container:
    name: grafana-svc
    pod: grafana.pod
    image: "{{ grafana_image }}"
    state: quadlet
    quadlet_dir: "{{ real_user_dir }}/.config/containers/systemd"
    volume:
      - "{{ grafana_data_dir }}/config/grafana.ini:/etc/grafana/grafana.ini:Z,U,ro"
      - "{{ grafana_data_dir }}/data:/var/lib/grafana:Z,U"
      - "{{ grafana_data_dir }}/logs:/var/log/grafana:Z,U"
      - "{{ grafana_data_dir }}/plugins:/var/lib/grafana/plugins:Z,U"
      - "{{ grafana_data_dir }}/provisioning:/etc/grafana/provisioning:Z,U,ro"
    env:
      GF_SECURITY_ADMIN_USER: "{{ grafana_admin_user }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
      GF_INSTALL_PLUGINS: ""
    quadlet_options:
      - "EnvironmentFile={{ real_user_dir }}/.config/containers/systemd/env/grafana.env"
      - "Label=traefik.enable=true"
      - "Label=traefik.http.routers.grafana.rule=Host(`{{ grafana_domain }}`)"
      - "Label=traefik.http.routers.grafana.entrypoints=websecure"
      - "Label=traefik.http.routers.grafana.service=grafana"
      - "Label=traefik.http.services.grafana.loadbalancer.server.port=3000"
      - "Label=traefik.http.routers.grafana.middlewares=secHeaders@file,redirect-to-https@file"
      - |
        [Unit]
        Description=Grafana Container
        After=network-online.target
      - |
        [Service]
        Restart=always
        TimeoutStartSec=300
        TimeoutStopSec=70
      - |
        [Install]
        WantedBy=default.target

# ....................................................................................
- name: Wait a moment for quadlet to be written
  ansible.builtin.wait_for:
    timeout: 10

# .......................................................................................
- name: reload systemd user daemon
  ansible.builtin.shell: |
    export XDG_RUNTIME_DIR=/run/user/{{ real_user_uid }}
    systemctl --user daemon-reload
  become: false
  changed_when: false

# .......................................................................................
- name: Start rootless pod with systemd
  ansible.builtin.shell: |
    export XDG_RUNTIME_DIR=/run/user/{{ real_user_uid }}
    systemctl --user start {{ service_properties.name }}
  become: false
  changed_when: true
