# MongoDB environment variables for initialization
# This file contains sensitive credentials - mode: 0600

MONGO_INITDB_ROOT_USERNAME={{ mongodb_root_username }}
MONGO_INITDB_ROOT_PASSWORD={{ mongodb_root_password }}
MONGO_INITDB_DATABASE={{ mongodb_database }}
