---
- name: Create internal service network
  become: false
  become_user: "{{ real_user }}"
  containers.podman.podman_network:
    name: "{{ service_network }}"
    driver: bridge
    disable_dns: false
    state: present
