---
- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  become: false

- name: restart redis
  ansible.builtin.systemd:
    name: "{{ service_properties.name }}"
    state: restarted
    scope: user
  listen: "restart redis"
  become: false

- name: reload systemd user daemon
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
  become: false
