[Unit]
Description=Mattermost Database Container
After=network-online.target

[Container]
Image={{ mattermost_postgres_image }}
ContainerName=mattermost-db
Pod={{ mattermost_pod_key }}
Volume={{ mattermost_data_dir }}/postgres:/var/lib/postgresql/data:Z
Environment=POSTGRES_USER={{ mattermost_db_user }}
Environment=POSTGRES_PASSWORD={{ mattermost_postgres_password }}
Environment=POSTGRES_DB={{ mattermost_db_name }}

[Service]
Restart=always
TimeoutStartSec=300
TimeoutStopSec=70

[Install]
WantedBy=default.target
