[Unit]
Description=Mattermost Database Container
After=network-online.target

[Container]
Image={{ mattermost_postgres_image }}
ContainerName=mattermost-db
Pod={{ mattermost_pod_key }}
Volume={{ mattermost_data_dir }}/postgres:/var/lib/postgresql/data:Z
EnvironmentFile={{ ansible_env.HOME }}/.config/containers/systemd/env/mattermost-db.env

[Service]
Restart=always
TimeoutStartSec=300
TimeoutStopSec=70

[Install]
WantedBy=default.target
