[Unit]
Description=Mattermost Container
After=network-online.target

[Container]
Image={{ mattermost_image }}
ContainerName=mattermost-svc
Pod={{ mattermost_pod_key }}
User=2000:2000
Volume={{ mattermost_data_dir }}/config:/mattermost/config:Z,U
Volume={{ mattermost_data_dir }}/data:/mattermost/data:Z,U
Volume={{ mattermost_data_dir }}/logs:/mattermost/logs:Z,U
Volume={{ mattermost_data_dir }}/plugins:/mattermost/plugins:Z,U
Volume={{ mattermost_data_dir }}/client/plugins:/mattermost/client/plugins:Z,U
Volume={{ mattermost_data_dir }}/logs:/mattermost/logs:Z,U
Volume={{ mattermost_data_dir }}/bleve-indexes:/mattermost/bleve-indexes:Z,U
Environment=MM_USERNAME={{ mattermost_db_user }}
Environment=MM_PASSWORD={{ mattermost_postgres_password }}
Environment=MM_DBNAME={{ mattermost_db_name }}
Environment=MM_SQLSETTINGS_DRIVERNAME=postgres
Environment=MM_SQLSETTINGS_DATASOURCE=postgres://{{ mattermost_db_user }}:{{ mattermost_postgres_password }}@mattermost-db:5432/{{ mattermost_db_name }}?sslmode=disable
[Service]
Restart=always
TimeoutStartSec=300
TimeoutStopSec=70

[Install]
WantedBy=default.target