---
- name: reload systemd
  become: false
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user

- name: restart vault
  become: false
  ansible.builtin.systemd:
    name: "{{ service_properties.name }}"
    state: restarted
    scope: user
  listen: "restart vault"

- name: reload systemd user daemon
  become: false
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
