[Unit]
Description=Redis Container
After=network-online.target

[Container]
Image={{ redis_image }}
ContainerName=redis-server
Pod=redis
Volume={{ redis_data_dir }}/config:/usr/local/etc/redis:Z,U
Volume={{ redis_data_dir }}/data:/data:Z
Command=redis-server /usr/local/etc/redis/redis.conf

[Service]
Restart=always
TimeoutStartSec=300
TimeoutStopSec=70

[Install]
WantedBy=default.target