<!-- Local rules -->

<group name="local,syslog,">
  <!-- Custom rules for {{ inventory_hostname }} -->
  <rule id="100001" level="5">
    <if_sid>5700</if_sid>
    <match>^Root executed</match>
    <description>Root execution</description>
    <group>pci_dss_10.2.7,gpg13_7.6,gdpr_IV_35.7.d,hipaa_164.312.b,nist_800_53_AU.14,tsc_CC6.3,tsc_CC6.4,tsc_CC7.2,tsc_CC7.3,</group>
  </rule>

  <!-- Alert on SSH login success/failure -->
  <rule id="100002" level="3">
    <if_sid>5715</if_sid>
    <match>^Accepted|authenticated</match>
    <description>SSH authentication success</description>
    <group>authentication_success,pci_dss_10.2.5,gpg13_7.1,gpg13_7.2,gdpr_IV_32.2,hipaa_164.312.b,nist_800_53_AU.14,nist_800_53_AC.7,tsc_CC6.8,tsc_CC7.2,tsc_CC7.3,</group>
  </rule>

  <!-- Critical file modification -->
  <rule id="100003" level="7">
    <if_sid>550</if_sid>
    <match>/etc/passwd|/etc/shadow|/etc/sudoers</match>
    <description>Critical security file modification</description>
    <group>pci_dss_10.5.5,gpg13_4.13,gdpr_II_5.1.f,hipaa_164.312.c.1,hipaa_164.312.c.2,nist_800_53_AU.14,nist_800_53_AU.6,tsc_CC6.8,tsc_CC7.2,tsc_CC7.3,</group>
  </rule>

  <!-- System reboot or shutdown -->
  <rule id="100004" level="3">
    <if_sid>2000</if_sid>
    <match>System is going down|for reboot|for shutdown</match>
    <description>System reboot or shutdown</description>
    <group>system_shutdown,pci_dss_10.6.1,gpg13_10.1,gdpr_IV_35.7.d,hipaa_164.312.b,nist_800_53_AU.6,tsc_CC7.2,tsc_CC7.3,</group>
  </rule>

  <!-- Log file deletion -->
  <rule id="100005" level="10">
    <if_sid>550</if_sid>
    <regex>/var/log/.+\.log$</regex>
    <description>Log file deletion</description>
    <group>logs_cleared,pci_dss_10.5.2,gpg13_10.1,gdpr_II_5.1.f,hipaa_164.312.c.1,hipaa_164.312.c.2,nist_800_53_AU.9,tsc_CC6.1,tsc_CC6.3,</group>
  </rule>

  <!-- User created -->
  <rule id="100006" level="8">
    <if_sid>5901</if_sid>
    <match>new user</match>
    <description>New user added to the system</description>
    <group>adduser,account_creation,pci_dss_10.2.5,gpg13_7.10,gdpr_IV_35.7.d,hipaa_164.312.b,nist_800_53_AC.2,tsc_CC6.3,tsc_CC7.2,tsc_CC7.3,</group>
  </rule>

  <!-- Sudo usage -->
  <rule id="100007" level="3">
    <if_sid>5400</if_sid>
    <match>COMMAND</match>
    <description>Sudo command execution</description>
    <group>sudo,pci_dss_10.2.2,pci_dss_10.2.5.b,gpg13_7.6,gdpr_IV_35.7.d,hipaa_164.312.b,nist_800_53_AU.14,nist_800_53_AC.6,tsc_CC6.3,tsc_CC7.2,tsc_CC7.3,</group>
  </rule>
</group>