# Basic Wazuh Dashboard configuration
server.host: 0.0.0.0
server.port: "{{wazuh_dashboard_port}}"
opensearch.hosts: "https://wazuh-indexer:{{ wazuh_indexer_port }}"
opensearch.ssl.verificationMode: certificate
opensearch.requestHeadersWhitelist: ["securitytenant", "Authorization"]
opensearch_security.multitenancy.enabled: false
server.ssl.enabled: true
server.ssl.key: "/usr/share/wazuh-dashboard/certs/wazuh-dashboard.key"
server.ssl.certificate: "/usr/share/wazuh-dashboard/certs/wazuh-dashboard.pem"
opensearch.ssl.certificateAuthorities:
  ["/usr/share/wazuh-dashboard/certs/root-ca.pem"]
uiSettings.overrides.defaultRoute: /app/wz-home
