# Basic Wazuh Dashboard configuration
server.host: 0.0.0.0
server.port: 443
opensearch.hosts: https://wazuh-indexer:9200
opensearch.ssl.verificationMode: certificate
opensearch.requestHeadersWhitelist: ["securitytenant", "Authorization"]
opensearch_security.multitenancy.enabled: false
server.ssl.enabled: true
server.ssl.key: "/etc/ssl/wazuh/wazuh-dashboard.key"
server.ssl.certificate: "/etc/ssl/wazuh/wazuh-dashboard.pem"
opensearch.ssl.certificateAuthorities: ["/etc/ssl/wazuh/root-ca.pem"]
uiSettings.overrides.defaultRoute: /app/wz-home
