---
- name: reload systemd
  become: false
  ansible.builtin.systemd:
    daemon_reload: yes
    scope: user

- name: restart traefik
  become: false
  ansible.builtin.systemd:
    name: "traefik-pod"
    state: restarted
    scope: user
  listen: "restart traefik"

- name: restart privileged traefik
  become: true
  ansible.builtin.systemd:
    name: "traefik-pod"
    state: restarted
  listen: "restart privileged traefik"

- name: reload systemd user daemon
  become: false
  ansible.builtin.systemd:
    daemon_reload: yes
    scope: user
