---
global:
  checkNewVersion: true
  sendAnonymousUsage: false

api:
  dashboard: {{ traefik_dashboard_enabled | lower }}
  insecure: true  # Never expose dashboard without authentication  (testing only)

log:
  level: WARN
  #filePath: "/logs/traefik.log"

accessLog:
  filePath: "/logs/access.log"

providers:
  docker:
    #endpoint: "unix:///run/user/{{ ansible_user_uid }}/podman/podman.sock"
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: "{{ service_network }}"
    httpClientTimeout: 300
    watch: true

entryPoints:
  # Traefik api/dashboard port
  traefik:
    address: ":9000"

  web:
    address: ":{{ traefik_http_port }}"
{% if traefik_enable_ssl %}
    http:
      middlewares:
        - redirect-https@file
{% endif %}

  websecure:
    address: ":{{ traefik_https_port }}"
{% if traefik_enable_ssl %}
    http:
      tls:
        certResolver: letsencrypt
{% endif %}

# Global middlewares
middlewares:
  redirect-https:
    redirectScheme:
      scheme: https
{% if not traefik_privileged %}
      port: "{{ traefik_https_port }}"
{% endif %}
      permanent: true

{% if traefik_enable_ssl %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "/etc/traefik/acme/acme.json"
{% if traefik_acme_staging %}
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}
      dnsChallenge:
        provider: linode
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
        delayBeforeCheck: 30
{% endif %}