[Pod]
Name=traefik
PublishPort={{ traefik_http_port }}:80
PublishPort={{ traefik_https_port }}:443
PublishPort=127.0.0.1:{{ traefik_dashboard_port }}:9000

[Service]
Restart=always

[Install]
WantedBy=default.target

