---
cluster.name: "docker-cluster"

# Basic network settings
network.host: 0.0.0.0              # Accept connections from any IP
network.publish_host: localhost    # Cluster publishes itself only to localhost
transport.host: localhost          # Inter-node communication only on localhost

# Tells ES to run as a single node instead of trying to form a cluster
discovery.type: single-node

# Prevents memory from being swapped to disk, important for performance
bootstrap.memory_lock: true

# This is controlled by role main defaults
xpack.security.enabled: {{ elasticsearch_enable_security | lower }}

# CORS configuration for Elasticvue
# http.cors.enabled: true
# http.cors.allow-origin: "http://localhost:{{ elasticsearch_gui_port }}"
# http.cors.allow-headers: X-Requested-With,Content-Type,Content-Length,Authorization
# http.cors.allow-credentials: true

# Per https://www.elastic.co/guide/en/elasticsearch/reference/current/behavioral-analytics-cors.html

http.cors.allow-origin: "*" # Only use unrestricted value for local development
# Use a specific origin value in production, like `http.cors.allow-origin: "https://<my-website-domain.example>"`
http.cors.enabled: true
http.cors.allow-credentials: true
http.cors.allow-methods: OPTIONS, POST
http.cors.allow-headers: X-Requested-With, X-Auth-Token, Content-Type, Content-Length, Authorization, Access-Control-Allow-Headers, Accept

# Security settings using valid options
xpack.security.authc.api_key.enabled: true
xpack.security.authc.token.enabled: true

path:
  data: /usr/share/elasticsearch/data
  logs: /usr/share/elasticsearch/logs
