[Unit]
Description=Elasticsearch Container
After=network-online.target

[Container]
ContainerName=elastisearch-node  # used for podman ps
Image={{ elasticsearch_image }}
ContainerName=elasticsearch-node
Pod=elasticsearch
Volume={{ elasticsearch_data_dir }}/config:/usr/share/elasticsearch/config:Z,U
Volume={{ elasticsearch_data_dir }}/data:/usr/share/elasticsearch/data:Z,U
Volume={{ elasticsearch_data_dir }}/logs:/usr/share/elasticsearch/logs:Z,U
Environment=ES_JAVA_OPTS=-Xms{{ elasticsearch_memory }} -Xmx{{ elasticsearch_memory }} -Djava.security.manager=allow -Djava.locale.providers=SPI,JRE
Environment=discovery.type=single-node
Environment=ELASTIC_PASSWORD={{ elasticsearch_password }}
Environment=xpack.security.enabled=true
Environment=bootstrap.memory_lock=true
Ulimit=memlock=-1:-1
Ulimit=nofile=65535:65535

[Service]
Restart=always
TimeoutStartSec=300  # I am spinning up with ansible, don't need 900
TimeoutStopSec=70

[Install]
WantedBy=default.target
