status = error

# Log files location ??? env not set, not sure where this comes from ???
property.filename = ${sys:es.logs.base_path}${sys:file.separator}${sys:es.logs.cluster_name}.log

# hardcoded for now
# property.filename = /usr/share/elasticsearch/logs/elasticsearch.log


# Console appender configuration
appender.console.type = Console
appender.console.name = console
appender.console.layout.type = PatternLayout
appender.console.layout.pattern = [%d{ISO8601}][%-5p][%-25c{1.}] [%node_name]%marker %m%n

# Rolling file appender configuration
appender.rolling.type = RollingFile
appender.rolling.name = rolling
appender.rolling.fileName = ${filename}
appender.rolling.filePattern = ${filename}.%i
appender.rolling.layout.type = PatternLayout
appender.rolling.layout.pattern = [%d{ISO8601}][%-5p][%-25c{1.}] [%node_name]%marker %m%n
appender.rolling.policies.type = Policies
appender.rolling.policies.size.type = SizeBasedTriggeringPolicy
appender.rolling.policies.size.size = 128MB
appender.rolling.strategy.type = DefaultRolloverStrategy
appender.rolling.strategy.max = 7

# Root logger
rootLogger.level = warn
rootLogger.appenderRef.console.ref = console
rootLogger.appenderRef.rolling.ref = rolling

# Reduce logging for some components
logger.deprecation.name = org.elasticsearch.deprecation
logger.deprecation.level = error

logger.action.name = org.elasticsearch.action
logger.action.level = error

logger.transport.name = org.elasticsearch.transport
logger.transport.level = error

logger.cluster.name = org.elasticsearch.cluster
logger.cluster.level = error

logger.settings.name = org.elasticsearch.settings
logger.settings.level = error

logger.discovery.name = org.elasticsearch.discovery
logger.discovery.level = error


# User Transaction Log Appender
appender.userlog.type = RollingFile
appender.userlog.name = userlog
appender.userlog.fileName = ${sys:es.logs.base_path}/user_transactions.log
appender.userlog.filePattern = ${sys:es.logs.base_path}/user_transactions-%d{yyyy-MM-dd}.log
appender.userlog.layout.type = PatternLayout
appender.userlog.layout.pattern = [%d{ISO8601}] %m%n
appender.userlog.policies.type = Policies
appender.userlog.policies.size.type = SizeBasedTriggeringPolicy
appender.userlog.policies.size.size = 100MB
appender.userlog.strategy.type = DefaultRolloverStrategy
appender.userlog.strategy.max = 30

# User transaction loggers
logger.authc.name = org.elasticsearch.xpack.security.authc
logger.authc.level = info
logger.authc.appenderRef.userlog.ref = userlog

logger.authz.name = org.elasticsearch.xpack.security.authz
logger.authz.level = info
logger.authz.appenderRef.userlog.ref = userlog

logger.rest.name = org.elasticsearch.rest
logger.rest.level = info
logger.rest.appenderRef.userlog.ref = userlog
