---
- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user

- name: restart minio
  ansible.builtin.systemd:
    name: "{{ service_properties.name }}"
    state: restarted
    scope: user
  listen: "restart minio"

- name: reload systemd user daemon
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user
