---
#
# Deploy InfluxDB3 using Podman Quadlets
#

# ....................................................................................
- name: Create InfluxDB3 pod Quadlet
  become: false
  containers.podman.podman_pod:
    name: influxdb3
    state: quadlet
    dns: "{{service_dns_servers}}"
    dns_search: "{{service_dns_search}}"
    network: "{{service_network}}"
    quadlet_dir: "{{real_user_dir}}/.config/containers/systemd"
    ports:
      - "127.0.0.1:{{influxdb3_port}}:{{influxdb3_internal_port}}"
    quadlet_options:
      - |
        [Service]
        Restart=always
      - |
        [Install]
        WantedBy=default.target

# ....................................................................................
- name: Create InfluxDB3 server container Quadlet
  become: false
  containers.podman.podman_container:
    name: influxdb3-svc
    pod: influxdb3.pod
    image: "{{influxdb3_image}}"
    state: quadlet
    quadlet_dir: "{{real_user_dir}}/.config/containers/systemd"
    volume:
      - "{{influxdb3_data_dir}}/data:/var/lib/influxdb3/data:z,U"
      - "{{influxdb3_data_dir}}/plugins:/var/lib/influxdb3/plugins:z,U"
      - "{{influxdb3_secrets_dir}}:/var/lib/influxdb3/secrets:z,U"
    env:
      INFLUXDB3_NODE_IDENTIFIER_PREFIX: "{{influxdb3_node_id}}"
    command:
      - "serve"
      - "--http-bind=0.0.0.0:{{influxdb3_internal_port}}"
      - "--object-store={{influxdb3_object_store}}"
      - "--data-dir=/var/lib/influxdb3/data"
    label:
      traefik.enable: "{{influxdb3_enable_traefik | lower}}"
      traefik.http.routers.influxdb3.rule: "Host(`{{influxdb3_fqdn}}`)"
      traefik.http.routers.influxdb3.entrypoints: "websecure"
      traefik.http.services.influxdb3.loadbalancer.server.port: "{{influxdb3_internal_port}}"
      traefik.http.routers.influxdb3.middlewares: "secHeaders@file"
    quadlet_options:
      - |
        [Unit]
        Description=InfluxDB 3 Core Container
        After=network-online.target
      - |
        [Service]
        Restart=always
        TimeoutStartSec=300
        TimeoutStopSec=70
      - |
        [Install]
        WantedBy=default.target

# ....................................................................................
- name: Wait a moment for quadlet to be written
  ansible.builtin.wait_for:
    timeout: 10

# .......................................................................................
- name: reload systemd user daemon
  ansible.builtin.shell: |
    export XDG_RUNTIME_DIR=/run/user/{{real_user_uid}}
    systemctl --user daemon-reload
  become: false
  changed_when: false

# .......................................................................................
- name: Start rootless pod with systemd
  ansible.builtin.shell: |
    export XDG_RUNTIME_DIR=/run/user/{{real_user_uid}}
    systemctl --user start {{service_properties.name}}
  become: false
  changed_when: true

# ....................................................................................
- name: Wait for InfluxDB3 to be ready
  ansible.builtin.wait_for:
    host: 127.0.0.1
    port: "{{influxdb3_port}}"
    timeout: 120
